{{> nav}}

<section class="container">
    <!-- card questionario -->
    <section class="card z-depth-2">
        <!-- title -->
        <div class="card-title section center grey darken-3 white-text">
            <b>
                Questionário
            </b>
        </div><!-- title -->

        <section class="card z-depth-2">
            <!-- title -->
            <div class="card-title section center ">
                <h6>
                    <b>
                        Preencha todos os campos e assinale o grau de concordância com as afirmações abaixo (Assinale de
                        1 discordo totalmente a 7
                        concordo totalmente)
                    </b>
                </h6>
            </div><!-- title -->

        </section>


        <form action="" method="POST" class="questionario" id="questionario-form"
            data-total-questao="{{total_questao}}">


            <!-- questao -->
            <section class="card z-depth-0" id="questao-section-0">

                <div class="card-title center">
                    <b>
                        Questão 1
                    </b>
                </div><!-- title -->
                <!-- content -->
                <div class="card-content">
                    <blockquote>
                        <h5>
                            Informe a quantidade de funcionários da sua empresa e indique,
                            aproximadamente, quantos
                            salários mensais você recebeu a título de remuneração
                            variável (no último período de avaliação de desempenho)
                        </h5>
                    </blockquote>

                    <section id="questao-radio-0" data-categoria="{{first.categoria}}">
                        <div id="input-inject">

                            <!-- input funcionario-->
                            <div class="row">
                                <div class="input-field col s12">
                                    <label for="funcionario" class="active">Quantidade de funcionários</label>
                                    <input type="number" min="1" max="9999999" id="funcionario"
                                        placeholder="Quantidade de funcionários" name="funcionario" value=""
                                        required="">
                                </div>
                            </div><!-- input funcionario -->

                            <!-- input salario-->
                            <div class="row">
                                <div class="input-field col s12">
                                    <label for="salario" class="active">Quantidade de salários</label>
                                    <input type="number" min="1" max="100" id="salario"
                                        placeholder="Quantidade de salários" name="salario" value="" required="">
                                </div>
                            </div><!-- input salario -->

                        </div>
                    </section>
                </div><!-- content -->
            </section><!-- questao -->


            {{#each questionarioList}}
            <!-- questao -->
            <section class="card z-depth-1" id="questao-section-{{@index}}" hidden="">

                <div class="card-title center">
                    <b>
                        Questão {{inc @index}}
                    </b>
                </div><!-- title -->
                <!-- content -->
                <div class="card-content">
                    <blockquote>
                        <h5>
                            {{this.titulo}}
                        </h5>
                    </blockquote>

                    <section class="questao-radio" id="questao-radio-{{@index}}" data-index="{{@index}}"
                        data-categoria="{{this.categoria}}">
                        {{#each this.alternativa_list}}
                        <p class="">
                            <label>
                                <input name="questao" value="{{this.peso}}" data-titulo="{{this.titulo}}"
                                    type="radio" />
                                <span>{{this.titulo}}</span>
                            </label>
                        </p>
                        {{/each}}
                    </section>
                </div><!-- content -->
            </section><!-- questao -->

            {{/each}}



            <!-- card questionario buttons and alert -->
            <div class="card-action">

                <blockquote class="yellow section" id="alerta" hidden="">
                    <h5>
                        <b id="alerta-message">Selecione uma opção válida por favor</b>
                    </h5>
                </blockquote>

                <button type="button" class="red darken-2 btn" id="voltar" data-index="0">Voltar</button>
                <button type="button" class="red darken-2 btn right" id="avancar" data-index="0">Avançar</button>
                <button type="button" class="indigo darken-3 btn right hide" id="finalizar">Finalizar</button>


            </div> <!-- card questionario buttons and alert -->

        </form>

    </section><!-- card questionario -->
</section>


<section class="container" id="feedback" hidden="">
    <div class="card z-depth-2">
        <!-- title -->
        <div class="card-title section center grey darken-3 white-text">
            <b>
                Feedback do Questionário
            </b>
        </div><!-- title -->

        <section class="card-content">
            <!-- title -->
            <div class="card-title section center ">
                <blockquote class="blue white-text section">
                    <h5>
                        <b>
                            Com base nas suas respostas, a ferramenta sugere que você revise esses pontos
                        </b>
                    </h5>
                </blockquote>

                <h3>
                    <b> Feedbacks</b>
                </h3>

                {{#each recomendacaoList}}
                <!-- FeedBack -->
                <blockquote class="green white-text section feedback" hidden="" data-categoria="{{this.categoria}}"
                    data-menor-intervalo="{{this.menor_intervalo}}" data-maior-intervalo="{{this.maior_intervalo}}">
                    <h5>
                        <b>
                            {{this.titulo}}
                        </b>
                    </h5>
                </blockquote><!-- FeedBack -->
                {{/each}}

                <blockquote class="yellow section">
                    <h5>
                        <b>
                            Lembramos que é apenas uma mera sugestão que tem que ser avaliada com maior profundidade por
                            profissionais especialistas. Obrigado pela participação
                        </b>
                    </h5>
                </blockquote>

                <blockquote class="red darken-3  white-text section">
                    <h5>
                        <b>
                            Projeto com recursos do Mackpesquisa e vinculado ao Programa de Pós-Graduação em
                            Controladoria e Finanças Empresariais da Universidade Presbiteriana Mackenzie. colocar no
                            inicio
                        </b>
                    </h5>
                </blockquote>

            </div><!-- title -->

        </section>
    </div>
</section>

<script src="/static/js/visitante/questionario.js"></script>