{{> nav}}

<section class="container">
    <!-- card questionario -->
    <section class="card z-depth-2">
        <!-- title -->
        <div class="card-title section center grey darken-3 white-text">
            <b>
                Questionário
            </b>
        </div><!-- title -->

        <section class="card z-depth-2">
            <!-- title -->
            <div class="card-title section center ">
                <b>
                    Assinale o seu grau de concordância em relação às seguintes afirmações:
                    De 0. Não aplicável. 1 Discordo totalmente a 7 Concordo totalmente *
                </b>
            </div><!-- title -->

        </section>


        <form action="" method="POST" class="questionario" id="questionario-form"
            data-total-questao="{{total_questao}}">


            <!-- questao -->
            <section class="card z-depth-0" id="questao-section-0">

                <div class="card-title center">
                    <b>
                        Questão 1
                    </b>
                </div><!-- title -->
                <!-- content -->
                <div class="card-content">
                    <blockquote>
                        <h5>
                            {{first.titulo}}
                        </h5>
                    </blockquote>

                    <section id="questao-radio-0">
                        {{#each first.alternativa_list}}
                        <p class="">
                            <label>
                                <input name="questao0" value="{{this.peso}}" data-titulo="{{this.titulo}}"
                                    class="questao0" type="radio" />
                                <span>{{this.titulo}}</span>
                            </label>
                        </p>
                        {{/each}}
                    </section>
                </div><!-- content -->
            </section><!-- questao -->


            {{#each questionarioList}}
            <!-- questao -->
            <section class="card z-depth-1" id="questao-section-{{inc @index}}" hidden="">

                <div class="card-title center">
                    <b>
                        Questão {{inc @index}}
                    </b>
                </div><!-- title -->
                <!-- content -->
                <div class="card-content">
                    <blockquote>
                        <h5>
                            {{this.titulo}}
                        </h5>
                    </blockquote>

                    <section id="questao-radio-{{inc @index}}">
                        {{#each this.alternativa_list}}
                        <p class="">
                            <label>
                                <input name="questao{{get_index ../this   @root}}" value="{{this.peso}}"
                                    data-titulo="{{this.titulo}}" class="questao{{get_index ../this   @root}}"
                                    type="radio" />
                                <span>{{this.titulo}}</span>
                            </label>
                        </p>
                        {{/each}}
                    </section>
                </div><!-- content -->
            </section><!-- questao -->

            {{/each}}



            <!-- card questionario buttons and alert -->
            <div class="card-action">

                <blockquote class="yellow section" id="alerta" hidden="">
                    <h5>
                        <b id="alerta-message">Selecione uma opção válida por favor</b>
                    </h5>
                </blockquote>

                <button type="button" class="red darken-2 btn" id="voltar" data-index="0">Voltar</button>
                <button type="button" class="red darken-2 btn right" id="avancar" data-index="0">Avançar</button>

                <button type="submit" class="indigo darken-3 btn right hide" id="finalizar">Finalizar</button>


            </div> <!-- card questionario buttons and alert -->

        </form>

    </section><!-- card questionario -->
</section>


<script src="/static/js/visitante/questionario.js"></script>